asgiref==3.9.1
attrs==25.3.0
az-iranian-bank-gateways==2.1.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.5
django-ckeditor==6.7.3
django-ckeditor-5==0.2.18
django-js-asset==3.1.2
django-mptt==0.18.0
django-phonenumber-field==8.1.0
Faker==37.6.0
gunicorn==23.0.0
idna==3.10
isodate==0.7.2
lxml==6.0.1
packaging==25.0
phonenumbers==9.0.13
pillow==11.3.0
platformdirs==4.4.0
psycopg==3.2.9
psycopg2==2.9.10
pycryptodome==3.23.0
pytz==2025.2
requests==2.32.5
requests-file==2.1.0
requests-toolbelt==1.0.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
zeep==4.3.2
